@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }  



body{
    font-family: 'Chakra Petch', sans-serif;
}

.container-vh{
    height: 100vh;
}

.about-container-vh{
    height: 200vh;
}

.services-container-vh{
    height: 20rem;
}

.container-80vh{
    height: 60vh;
}
.nav-height{
    margin-top: 2rem;
    margin-bottom: 10rem;
}

ul{
    font-family: 'Chakra Petch', sans-serif;
    list-style-type: none;
}

.li-services, .submit-button{
    margin-bottom: 2rem;
}

.li-about{
    margin-bottom: 6rem;
    margin-top: 2rem
}

.weight700{
    font-weight: 700;
    font-size: larger;
}

b{
    font-weight: 500;
    font-style: italic;
}


h1{
    font-size: 5rem;
    font-weight: 500;
}

.pok{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -2rem;
}
.about-container{
    background-color: #121212;
    width: 100;
    color: white;
    font-size: 3rem;
    font-weight: 300;
}

/*.red-white-text:hover{
    background-color: red;
    color: white;
    width: 20rem;
    text-decoration: underline;
}*/

.me, .boxing-me{
    border-radius: 15rem; 
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-width: 0.125rem;
    height: 30rem;
}

.text-align{
    text-align: center;
}

.align-right{
    float: right;
  padding: 10px;
}

.bottom-space{
    margin-bottom: 5rem;
}

.text{
    font-size: 1.5rem;
}

.up{
    margin-top: -15rem;
}

.services-container{
    background-color: #ffffff;
    width: 100;
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 10rem;
}

.logo{
    width: 4rem;
    margin-right: 2rem;
}

.logo:hover{
    opacity: 50%;

}


#progress-bar{
    --progress: 0;
    height: 0.9rem;
    width: var(--progress);
    background-image: linear-gradient(to right, rgb(240, 59, 158) , rgb(9, 196, 221));
    position: fixed;
    top: 0;
}

.talk-section-text{
    font-size: 2rem;
    color: rgb(145, 145, 145);
    font-weight: 200;
}

.form-font{
    font-size: 2rem;
}

.gears{
    width: 30rem;
    margin-left: 10rem;
    margin-bottom: 0rem;
}

.animation{
    animation: fadeIn 2s; 
}

.text-mobile{
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

.textarea-mobile{
    border-style: solid;
    border-width: 2px;
    border-color: black;
}  

.title-down{
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.thankyou-link{
    font-size: 2.5rem;
}





@media (min-width: 360px){

    .container-vh{
  height: 28rem;
  }

  .title-up{
    margin-top: -7rem;
}

  h1{
      font-size: 3.5rem;
  }

  .title{
      font-size: 2.7rem;
  }

  .gears{
    width: 12.5em;
    margin-left: 7.5rem;
    margin-top: 0rem;
}

    .about-container-vh{
        height: 88rem;
        margin-bottom: 3rem;
    }

    .text{
        font-size: 1.5rem;
    }

    .logo{
        width: 4rem;
        margin-right: 4rem;
        margin-top: 3.5rem;
    }

    .services-container-vh{
        height: 81rem;
    }

    .me{
        height: 25rem;
        margin-bottom: 2rem;
    }

    .boxing-me{
        height: 14rem;
    }

    .form-font{
        font-size: 2rem;
    }

    .li-form{
        margin-bottom: 3rem;
        margin-left: -0.6rem;
    }

    

    .description-text{
        text-align: center;
        font-size: 1.5rem;
    }

    .textarea-mobile{
        width: 17.3rem;
    }

    .text-mobile{
        width: 17.3rem;
    }

    .nav-item{
        font-size: 1rem;
    }

    .form-font{
        font-size: 1rem;
    }

    .talk-section-text{
        font-size: 1.375rem;
    }


}



@media (min-width: 411px){

    .container-vh{
  height: 50rem;
  }

  h1{
      font-size: 4.25rem;
  }

  .gears{
    width: 16em;
    margin-left: 7rem;
    margin-top: 3rem;
}

    .about-container-vh{
        height: 82rem;
        margin-bottom: 3rem;
    }

    .text{
        font-size: 1.5rem;
    }

    .logo{
        width: 4rem;
        margin-right: 5rem;
        margin-top: 3.5rem;
    }

    .services-container-vh{
        height: 78.2rem;
    }

    .me{
        height: 25rem;
        margin-bottom: 1.5rem;
    }

    .boxing-me{
        height: 16.30rem;
    }

    .form-font{
        font-size: 2rem;
    }

    .li-form{
        margin-bottom: 3rem;

    }

    .textarea-mobile{
        width: 19.8rem;
    }

    .description-text{
        text-align: center;
        font-size: 1.5rem;
    }

    .text-mobile{
        width: 19.8rem;
    }

    .nav-item{
        font-size: 1rem;
    }

    .form-font{
        font-size: 1rem;
    }

    .talk-section-text{
        font-size: 1.375rem;
    }


}



@media (min-width: 480px){

    .container-vh{
  height: 50rem;
  }

  h1{
      font-size: 4.25rem;
  }

  .gears{
    width: 16em;
    margin-left: 11rem;
    margin-top: 3rem;
}

    .about-container-vh{
        height: 78rem;
        margin-bottom: 3rem;
    }

    .text{
        font-size: 1.5rem;
    }

    .logo{
        width: 4rem;
        margin-right: 6rem;
        margin-top: 3.5rem;
    }

    .services-container-vh{
        height: 78.2rem;
    }

    .me{
        height: 25rem;
        margin-bottom: 1.5rem;
    }

    .boxing-me{
        height: 19.07rem;
    }

    .form-font{
        font-size: 2rem;
    }

    .li-form{
        margin-bottom: 3rem;

    }

    .textarea-mobile{
        width: 24.4rem;
    }

    .description-text{
        text-align: center;
        font-size: 1.5rem;
    }

    .text-mobile{
        width: 24.4rem;
    }

    .nav-item{
        font-size: 1rem;
    }

    .form-font{
        font-size: 1rem;
    }

    .talk-section-text{
        font-size: 1.375rem;
    }


}



@media (min-width: 576px){

    .container-vh{
  height: 50rem;
  }

  h1{
      font-size: 3.75rem;
  }

  .gears{
    width: 22rem;
    margin-left: 8rem;
    margin-top: 3.5rem;
}

    .about-container-vh{
        height: 76rem;
    }

    .text{
        font-size: 1.5rem;
    }

    .logo{
        width: 4rem;
        margin-right: 2.5rem;
        margin-top: 4.5rem;
    }

    .services-container-vh{
        height: 78.2rem;
    }

    .boxing-me{
        height: 22rem;
    }

    .form-font{
        font-size: 2rem;
    }

    .li-form{
        margin-bottom: 3rem;
    }

    .text-mobile{
        width: 28rem;
    }

    .textarea-mobile{
        width: 28rem;
    }

    .nav-item{
        font-size: 1.25rem;
    }

    .description-text{
        text-align: center;
        font-size: 1.5rem;
    }


}



@media (min-width: 768px) {
  .container-vh{
      height: 100vh;
  }
}


@media (min-width: 992px) {
  .container-vh{
      height: 100vh;
  }
}


@media (min-width: 1400px) {


  .container-vh{
    height: 38rem;
    }
  
    h1{
        font-size: 5rem;
    }
  
    .gears{
      width: 30rem;
      margin-left: 8rem;
      margin-top: 5rem;
  }
  
      .about-container-vh{
          height: 50rem;
      }
  
      .text{
          font-size: 1. 5rem;
      }

      .me{
          height: 35rem;
          margin-bottom: 2rem;
      }
  
      .logo{
          width: 4rem;
          margin-right: 2.5rem;
          margin-top: 4.5rem;
      }
  
      .services-container-vh{
          height: 45rem;
      }
  
      .boxing-me{
          height: 30rem;
      }
  
      .form-font{
          font-size: 2rem;
      }
  
      .li-form{
          margin-bottom: 3rem;
      }
  
      .text-mobile{
        margin-left: auto;
        margin-right: auto;
      }
  
      .textarea-mobile{

      }
  
      .nav-item{
          font-size: 1.25rem;
      }
  
      .description-text{
        text-align: center;  
        font-size: 1.5rem;
      }

  

}

