.flexcina{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;


}
.flexboxitem{
    width: 20rem;
    margin: 10px;
    border: black solid;
}
.f1{
    flex-shrink: 0;
    flex-grow: 1;
    min-height: 100px;

}

.f2{
    min-height: 200px;

}

.f3{
    min-height: 300px;
    
}